.company-profile {
    background-color: $white;
    padding: 15px;
    margin-top: 50px;
    width: 85%;

    h3 {
        margin-top: 5px;
        padding: 5px;
        font-size: 1.5rem;
        font-weight: 600;
        border-top: 2px solid rgb(223, 220, 220);

        span {
            font-weight: 400;
        }
    }
}

.nothing-found {
    margin-top: 50px;
    color: rgb(233, 44, 44);
}

@media screen and (max-width: 540px) {
    .company-profile {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            width: 90%;
        }

        button {
            width: 65%;
        }
    }
}