.company-profile {
    background-color: $white;
    padding:15px;
    margin-top:50px;
    h3 {
        margin:10px 0;
        font-weight: 600;
    }
}

.nothing-found {
    margin-top: 50px;
    color: rgb(233, 44, 44);
}