.date-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;

    button {
        height: 43px;
    }

    .date-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 10px;

        label {
            position: absolute;
            top: 50px;
            font-size: 0.9rem;
            font-style: italic;
            margin-bottom: 1px;
        }

        input {
            padding: 10px;
            border: 2px solid $blue;
        }
    }
}

@media screen and (max-width: 580px) {
    .date-input-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .date-input {
            margin: 5px 0;

            label {
                position: initial;
            }
        }
    }
}