.button {
    margin-left: 5px;
    padding: 10px;
    border: none;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: $blue;
    color: #fff;
    &:hover {
        background-color: rgb(56, 99, 240);
        cursor: pointer;
    }
}
