.container {
    height: 95%;
    width:95%;
    margin-top:20px;
    .char-btn {
        padding:5px;
        border-radius: 5px;
        background-color: rgb(31, 126, 235);
        &:hover {
            opacity: 0.8;
        }
    }
}