.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 3vh;
    left: 5%;
    width: 90%;
    background-color: $white;
    padding: 1.2rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

@media screen and (max-width: 1375px) {
    .modal {
        width: 60rem !important;
        left: calc(50% - 30rem) !important;
    }
}

@media screen and (max-width: 1050px) {
    .modal {
        width: 40rem !important;
        left: calc(50% - 20rem) !important;
    }
}

@media screen and (max-width: 768px) {
    .modal {
        width: 30rem !important;
        left: calc(50% - 15rem) !important;
    }
}

@media screen and (max-width: 580px) {
    .modal {
        width: 85% !important;
        left: calc(50% - 15rem) !important;
    }
}

@media screen and (max-width: 500px) {
    .modal {
        width: 85% !important;
        left: calc(25% - 6rem) !important;
    }
}

@media screen and (max-width: 410px) {
    .modal {
        width: 80% !important;
        left: calc(25% - 5rem) !important;
    }
}

@media screen and (max-width: 350px) {
    .modal {
        width: 80% !important;
        left: calc(25% - 4rem) !important;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}